body {
  font-family: 'Arial', sans-serif;
  background-color:white;
  box-sizing: border-box;
}

h3 {
  color: #333;
  margin-left: 350px;
  margin-top: 10px;
}



form {
  display: grid;
  grid-gap: 20px;
}

.row {
  display: grid;
  grid-template-columns: 25% 75%;
  margin-bottom: 15px;
}

label {
  padding: 8px 0;
  font-weight: bold;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.row-submit {
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

input[type="submit"]:hover {
  background-color: #45a049;
}
.container{
  margin-top: 50px;
  width:1000px;
  height:auto;
  margin-left: 10px;
  border:1px solid black;
}
body{
background-color: white;
}
h3{
margin-top: 10px;
margin-left: 400px;
}
.btn1{
border-radius: 50px;
background-color: blue;
margin-left: 350px;
width:90px;
height:30px;
color:white;
margin-top: 10px;
}

