.btn1{
    border-radius: 50px;
    background-color: blue;
    width:160px;
    height:30px;
    color:white;
    margin-top: 20px;;
  }
  .row input{
    border-radius: 50px;
    width:350px;
    height:30px;
    
}